body {
    font-family: Arial, Helvetica, sans-serif;
    opacity: .5;
}
.heroimage {
    background-image: url(https://libraries.ou.edu/sites/default/files/Copy%20of%20Bizzell-Library-South-Landscape%20copy_1_0.jpg);
}
.box1{

}
.headshot{
    vertical-align: middle;
    height: auto;
    float: left;
    margin-right: 30px;
    border-radius: 50%;
}
.aboutMe{
    display: block;
    box-sizing: border-box;
}
