body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #fbd9d9;
    /*background-color: lightsalmon;*/
}
.box1{
    float: left;
}
.headshot{
    vertical-align: middle;
    height: auto;
    float: right;
    margin-right: 30px;
    border-radius: 50%;
    
}
.aboutMe{
    display: block;
    box-sizing: border-box;
}

